@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a CineOrt!</h1>
    <p>Podrás ver las mejores películas, pasa por nuestra cartelera para ver las disponibles</a>.</p>
</div>
